@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dela+Gothic+One&family=Teko&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.5;
}

p {
  font-family: 'Teko', sans-serif;
  font-size: large;
  text-align: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 22px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../images/car.jpg);
  background:linear-gradient(rgba(0,0,0,0.50));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: aliceblue;
}

.action-card {
  width: 90%;
  height: 100%;
  max-width: 15rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.click {
  display:block;
  margin: auto;
  margin-top: 15px;
  background-color: black;
  border: solid;
  border-color: purple;
}
a{
  padding: 20px;
  margin: auto;
  color: white;
}

h1 {
  font-size: 2.7rem;
  
  margin-bottom: 1rem;
  text-align:center;
  background: linear-gradient(#3d9cdb, #af2ede);
  border-radius: 12px
}

h2 {
  background: linear-gradient(#3d9cdb, #af2ede);
  font-size: 1.5;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 12px;
}

.description p{
  background-color: rgb(187, 159, 159);
}

.card-lore {
  background: linear-gradient(#3d9cdb, #af2ede);
  border-radius: 12px;

}


.nav-bar-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-bar-content {
  background-color:  rgb(20, 19, 20);
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 10px 0;
}

.nav-bar-list li a {
  color:  hsla(126, 100%, 85%, 1);
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
  font-family: 'Bebas Neue', sans-serif;;
  
}

.nav-bar-list li {
  display: inline-flex;
  list-style: none;
  border: 1px solid transparent;
}
.nav-bar-list li:hover{
  border-color: red;
}


.logo {
  font-family: 'Dela Gothic One', cursive;
  text-align: center;
  color: #3d9cdb;
  font-size: 30px;
}
