@import url('https://fonts.googleapis.com/css2?family=Teko&family=Ubuntu&display=swap');

* {
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;


}

p {
  font-family: 'Teko', sans-serif;
  font-size: large;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero-section {
  width: 100%;
  height: 100vh;
  background-image: url(../images/patrick-axe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: rgb(16, 25, 26);
}

.action-card {
  width: 50%;
  height: 75vh;
  max-width: 25rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  float: left;
  margin-left: 10rem;
  margin-top: 5rem;

}

h1 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5;
  padding-bottom: 2rem;
  text-align: center;
}

.action-card {
  
  border-radius: 10%;
  border-style: solid;
  border-color: #07F8E7ff;
  
  text-align: justify;
  
  display: flex;
  
  background-color:#133E86ff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5;
}  

